.minimapZoom,
.minimapZoom_wrapper,
.minimap,
.zoom,
.zoom_handler,
.zoom_visiblepart,
.zoom_startoffset,
.zoom_endoffset {
	width: 100%;
	height: 47px;
	box-sizing: border-box;
}

.minimapZoom {
	padding: 0 120px 0 280px;
	background: #EFF7FF;
	box-shadow: 0 -1px 0 0 rgba(0, 135, 242, 0.2);
}

.minimapZoom_wrapper {
	position: relative;
}

.zoom,
.minimap,
.minimapZoom,
.zoom_handler,
.zoom_visiblepart,
.zoom_startoffset,
.zoom_endoffset {
	position: absolute;
	bottom: 0;
	left: 0;
}

.minimap {
	display: flex;
	flex-direction: column;
	pointer-events: none;
	overflow: hidden;
	padding: 2px 0;
}

.zoom {
	z-index: 1;
}

.minimap_events-lane {
	flex-basis: 4px;
	padding: 0;
}

.minimap_events-lane_item,
.minimap_events-lane_itemsymbol {
	width: 3px;
	height: 3px;
}

.minimap_events-lane_item .tooltip {
	transform-origin: bottom left;
	transform: scale(0.1);
}

.zoom_startoffset,
.zoom_endoffset {
	background: #0087F2;
	opacity: .2;
}

.zoom_handler {
	width: 6px;
	text-align: center;
	cursor: col-resize;
}

.zoom_visiblepart {
	cursor: grab;
}

.zoom_startoffset {
	left: 0;
}

.zoom_endoffset,
.zoom_endHandler {
	right: 0;
	left: auto;
}

.zoom_startHandler {
	transform: translateX(-50%);
}

.zoom_endHandler {
	transform: translateX(50%);
}

.zoom_handlerwrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.zoom_handlerbar,
.zoom_handlergrabber {
	width: 1px;
	height: 47px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background: #0087F2;
	top: 0;
}

.zoom_handlergrabber {
	width: 6px;
	height: 22px;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
}
