.events-lanes {
	display: flex;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	flex-direction: column;
	overflow-x: scroll;
	overflow-y: hidden;
}

.events-lane {
	flex: 1 0 48px;
	padding: 0 200px;
	background: #EFF7FF;
	position: relative;
}

.events-lane:after {
	content: '';
	display: table;
	clear: both;
}

.events-lane_item {
	float: left;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	text-align: left;
	border: 1px solid;
	cursor: pointer;
	background: none;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-50%, -50%);
	outline: none;
	transition: background 200ms ease-out;
}

.events-lane_item--hovered {
	background: currentColor;
}

.events-lane_item--selected {
	background: currentColor;
}

.events-lane_item--selected h4 {
	color: white;
}

.events-lane_item_tooltip {
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translate(-50%, 5px);
	white-space: nowrap;
	padding: 10px 15px;
	border-radius: 3px;
	color: white;
	opacity: 0;
	transition: transform 300ms ease-out, opacity 200ms ease-in;
	pointer-events: none;
}

.events-lane_item_tooltip--visible {
	opacity: 1;
	transform: translate(-50%, -5px);
}
