.events-lanes {
	display: flex;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	flex-direction: column;
	overflow-x: scroll;
	overflow-y: hidden;
}

.events-lane {
	flex: 1 0 48px;
	padding: 0 200px;
	background: whitesmoke;
	position: relative;
}

.events-lane:after {
	content: '';
	display: table;
	clear: both;
}

.events-lane_item {
	float: left;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	text-align: left;
	border: 1px solid;
	cursor: pointer;
	background: none;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-50%, -50%)
}

.events-lane_item--hovered {
	background: currentColor;
}

.events-lane_item--selected {
	background: currentColor;
}

.events-lane_item--selected h4 {
	color: white;
}
