.topicsList {
	width: 120px;
	height: calc(100% - 60px - 47px);
	position: absolute;
	top: 60px;
	right: 0;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 40px 0 0;
	box-sizing: border-box;
	box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.05), -4px 0 0 0 rgba(0, 0, 0, 0.02);
	z-index: 3;
}

.topicsList_item {
	flex: 1 0 48px;
	list-style: none;
	box-sizing: border-box;
	padding: 0 16px;
	display: flex;
	align-items: center;
	background: white;
	color: white;
	cursor: help;
	transition: color 200ms ease-out, background 200ms ease-out;
}

.topicsList_itemdescription {
	width: 280px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 120px;
	z-index: -1;
	color: white;
	box-sizing: border-box;
	padding: 20px;
	transform: translateX(120px);
	opacity: 0;
	transition: transform 200ms ease-out, opacity 160ms ease-out;
	transition-delay: 200ms, 0;
	pointer-events: none;
}

.topicsList_itemdescription--visible {
	transform: translateX(0);
	opacity: 1;
}

.topicsList_itemdescriptiontitle {
	margin: 0;
}
