.introscreen {
	top: 0;
	left: 0;
	background: white;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10000;
}

.introscreen--hidden {
	background: red;
}

.introscreen--visible {
	background: green;
}
