.sidebar {
	position: absolute;
	width: 280px;
	top: 60px;
	left: 0;
	height: calc(100% - 60px);
	background: white;
	box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.05), 4px 0 0 0 rgba(0, 0, 0, 0.02);
	overflow-x: hidden;
	overflow-y: scroll;
}

.sidebar_content {
	width: 100%;
	box-sizing: border-box;
	padding: 0 0 40px;
}

.sidebar_category {
	padding: 0 0 0 20px;
	height: 40px;
	line-height: 40px;
	color: white;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: .02em;
}

.sidebar_categoryicon {
	float: right;
	width: 40px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	padding: 11px;
}

.sidebar_categoryicon .icon {
	float: left;
}

.sidebar_image {
	margin: 0;
	height: 160px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #EFF7FF;
	position: relative;
}

.sidebar_credits {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	padding: 20px;
	color: white;
	opacity: .7;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.sidebar_credits::before {
	content: '© ';
	opacity: .5;
}

.sidebar_title {
	margin: 0;
	padding: 20px 20px 10px;
	font-size: 24px;
	line-height: 26px;
}

.sidebar_date {
	margin: 0;
	padding: 0 20px;
	font-size: 14px;
	color: #7394AE;
}

.sidebar_description {
	padding: 10px 20px;
	font-size: 14px;
}

.sidebar_externallinks {
	font-size: 14px;
}
