body {
	padding: 0;
	margin: 0;
	font-family: 'Replica', sans-serif;
	color: #003C6C;
	-webkit-font-smoothing: antialiased;
}

a {
	color: #0087F2;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
